// src/css/quasar.variables.scss

$primary: #6c15c2;
$secondary: #c215c1;
$accent: #1615c2;

$dark: #2d2d2d;
$dark-page: #2b2b2b;

$positive: #21ba45;
$negative: #fc0000d3;
$info: #31ccec;
$warning: #f2c037;
